{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div class="container mt-4">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h1>Ribbit</h1>
      <p>
        Start discussing about everything!
      </p>
    </div>
    <div class="col-md-6 shadow p-3 mb-5 bg-white rounded">
      <h1>{% trans "Sign In" %}</h1>
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
            <button class="btn btn-success btn-cus" type="submit">{% trans "Sign In" %}</button> 
        </form>
    </div>
  </div>
</div>

{% endblock %}
