/* Navbar */

.bg-aqua {
    background-color: #469d89;
}

.dark-bg {
    background-color: #445261;
}

/* footer */

.f-d a {
    padding: 5px;
    color: black;
}

/* text */

.s-text {
    font-size: .875em;
}