/* Navbar */

.nav-link:hover {
    text-decoration: underline;
}

/* Colors */

.bg-aqua {
    background-color: #248277;
}

body {
    background-color: #dddddd;
}

/* Text stlye */

p, body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

/* footer */

.f-d a {
    padding: 5px;
    color: black;
}

/* text */

.s-text {
    font-size: .875em;
}

/* index.html */

.img {
    height: 300px;
    object-fit: cover;
}

/* links */

.link {
    color: #14746f;
    text-decoration: none;
}
.link:hover {
    color: #67b99a;
    text-decoration: underline;
}

/* buttons */

.btn-cus {
    background-color: #248277;
    border-color: #14746f; 
}

.btn-cus:hover {
    background-color: #67b99a;
    border-color: #14746f; 
}

/* Likes */


.btn-like {
    color: #469d89;
    border: none;
    background: transparent;
    transition: transform .2s; /* Animation */
}

.btn-like:hover {
    transform: scale(1.5);
    background: transparent;
    border: none;
}

/* Bootstrap */

.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
  }