{% extends "base.html" %}
{% block title %}Add Discussion{% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% load cloudinary %}
<div class="container mb-2">
    <h1>Add Discussion</h1>
    <div class="row align-items-center">
        <div class="col">
            <form method="POST" enctype="multipart/form-data">
                <p>Author : {{ user.username }} </p>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 col-6 mx-auto">
                    <input class="btn btn-success btn-cus" type="submit" value="Submit">
                  </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="mt-4">
                <h3>You have to be <a class="link" href="{% url 'account_login' %}">Logged</a> in to add a Discussion!</h3>
                <h4>If you don't have an account you can <a class="link" href="{% url 'account_signup' %}">sing up here!</a></h4>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script>

    let author = "{{ user.id }}";
    document.getElementById("author").value = author;
    
</script>

{% endblock content %}