{% extends "base.html" %}
{% block title %}View By Category{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- view categories -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <h2>Categories</h2>
                {% for cat in cat_list %}
                <div class="col-md-3">
                    <a class="link" href="{% url 'catsview' cat %}">
                        <div class="card mb-3">
                            {% if "placeholder" in cat.featured_image.url %}
                            <img alt="standard image(frog)" class="card-img-top img"
                                src="https://res.cloudinary.com/will23jd/image/upload/v1647709480/pexels-couleur-2631482_qftpr0.jpg">
                            {% else %}
                            <img alt="Category featured image" class="card-img-top img"
                                src="{{ cat.featured_image.url }}">
                            {% endif %}
                            <div class="text-center">
                                <h4>{{ cat | title }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}