{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="hstack gap-3">
            <h2>{{ discussion.title }}</h2>
                {% if user.id == discussion.author.id %}
                <div class="dropdown ms-auto">
                    <a class="link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-h fs-1"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item link" href="{% url 'editDis' discussion.pk %}">Edit</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                </div>
                {% endif %}
          </div> 
        <div class="d-none d-lg-block col-8">
            {% if "placeholder" in discussion.featured_image.url %}
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
            {% else %}
            <img src=" {{ discussion.featured_image.url }}" width="100%">
            {% endif %}
        </div>
        <div class="col-12 col-lg-4">
            <div class="text-muted h6">Author: {{ discussion.author }} | {{ discussion.created_on}} | {{ discussion.categorys }}
                {% if user.is_authenticated %}
                            <form action="{% url 'disLike' discussion.pk %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                {% if liked %}
                                    <button type="submit" name="discussion_id" value="{{ discussion.id }}" class="btn-like">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                {% else %}
                                    <button type="submit" name="discussion_id" value="{{ discussion.id }}" class="btn-like">
                                        <i class="far fa-heart"></i>
                                    </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="tex-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="tex-secondary">{{ discussion.number_of_likes }}</span>
            </div>
            <div class="card">
                <div class="card-body">
                    {{ discussion.content | safe }}
                </div>
            </div>
        </div>
        <div class="col-12">
            <h2>Comments</h2>
            <h4><a href="{% url 'comments' discussion.pk %}"><i class="far fa-comment link"></i></a></h4>
            {% for comment in discussion.comments.all %}
            <div class="card mb-2">
                <div class="card-body">
                    <strong>{{ comment.name }}</strong> | {{ comment.created_on }}
                    <br/>
                    {{ comment.body }}
                </div>
            </div>
	        {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}