{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Discussions -->
        <div class="col-12 col-lg-8 mt-3 left">
            <div class="row">
                <h2>New Discussions</h2>
                {% for discussion in discussion_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in discussion.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="card-img-top" src="{{ discussion.featured_image.url }}">
                                {% endif %}
                                <div>
                                    <p>Author: {{ discussion.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'disOpen' discussion.slug %}" class="post-link">
                                <h2 class="card-title">{{ discussion.title }}</h2>
                                <p class="card-text">{{ discussion.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ discussion.created_on}} <i class="far fa-heart"></i>
                                {{ discussion.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Your Discussions -->
        <div class="d-none d-lg-block col-lg-4 mt-3">
            <div class="row">
                <h2>Your Discussions</h2>
                <!--  -->
                <div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in discussion.featured_image.url %}
                                <img class="card-img-top"
                                    src="">
                                {% else %}
                                <img class="card-img-top" src="{{ discussion.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ discussion.author }}</p>
                                </div>
                            </div>
                            <a href="" class="post-link">
                                <h2 class="card-title">{{ discussion.title }}</h2>
                                <p class="card-text">{{ discussion.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ discussion.created_on}} <i class="far fa-heart"></i>
                                {{ discussion.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
</div>

{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}

{% endblock content %}