{% extends "base.html" %}
{% block title %}My Discussions{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!--  Your Discussions -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <h2>My Discussions</h2>
                {% for discussion in discussion_list %}
                {% if user.id == discussion.author.id %}
                <div class="col-lg-3 col-md-6">
                    <div class="card mb-4">
                        <div class="image-container">
                            {% if "placeholder" in discussion.featured_image.url %}
                            <img class="card-img-top img" aria-label="placeholder standard image(frog)"
                                src="https://media.wired.com/photos/5f245089558da0380aa8e392/master/pass/Science_Pelophylax_nigromaculatus.jpg">
                            {% else %}
                            <img class="card-img-top img" aria-label="Discussion featured image"
                                src="{{ discussion.featured_image.url }}">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <a href="{% url 'disOpen' discussion.pk %}" class="link">
                                <h3 class="card-title">{{ discussion.title }}</h3>
                                <p class="card-text">{{ discussion.excerpt }}</p>
                            </a>
                            <hr />
                            <div>
                                <p class="s-text">Author: {{ discussion.author }} <br>
                                    Category: {{ discussion.category | title}}</p>
                            </div>
                            <div class="hstack gap-3">
                                <p class="card-text text-muted h6">{{ discussion.created_on}}
                                    <i class="far fa-arrow-alt-circle-up"></i>{{ discussion.number_of_likes }}
                                    <i class="far fa-arrow-alt-circle-down"></i>{{ discussion.number_of_down_vote }}
                                </p>
                                {% if user.id == discussion.author.id %}
                                <div class="dropdown ms-auto">
                                    <a class="link" href="#" role="button" id="dropdownMenuLink"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h fs-4"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item link"
                                                href="{% url 'editDis' discussion.pk %}">Edit</a></li>
                                        <!-- Modal button -->
                                        <button type="button" class="dropdown-item link" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">
                                            Delete
                                        </button>
                                    </ul>
                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Are you sure you
                                                        want to Delete: {{ discussion.title }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="d-grid gap-2 col-6 mx-auto">
                                                        <a class="btn btn-success btn-cus"
                                                            href="{% url 'deleteDis' discussion.id %}">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Go Back</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="image-container">
                            <img class="card-img-top img"
                                src="https://media.wired.com/photos/5f245089558da0380aa8e392/master/pass/Science_Pelophylax_nigromaculatus.jpg">
                        </div>
                        <div class="card-body">
                            <a href="{% url 'addDis' %}" class="link">
                                <h4 class="card-title">Create a discussion</h4>
                            </a>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-2">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a class="btn btn-success btn-cus btn-sm" href="?page={{ page_obj.previous_page_number }}">&laquo;
                        Prev</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <a class="btn btn-success btn-cus btn-sm" href="?page={{ page_obj.next_page_number }}">Next
                        &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock content %}